.App {
  text-align: center;
  transition: .7s;
  font-size: 2rem;
}
body{
  background-color: #6e6a86;
  color: #e0def4;
}
input{
  display: block;
  margin-inline: auto;
  width: 20rem;
  padding: .5rem;
  color: #e0def4;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: none;
  background-color: #908caa;
}
button{
  font-size: 14px;
  padding: .5em 2em;
  background-color: #31748f;
  border: 1px solid black;
  color: #e0def4;
  border-radius: 1rem;
  cursor: pointer;
}
.list div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
}
a{
  margin-inline: .5rem;
}